# Assignment 3 - Linear Regression (Default vs Custom)

Compare Linear Regression Models with Default vs. Custom Parameters for Earthquake Magnitude Prediction

In [ ]:
# import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
# load dataset
url = "https://raw.githubusercontent.com/springboardmentor943x/ImpactSense-Intern-project/refs/heads/main/Milestone_2/Week_3/Day_14/preprocessed_earthquake_data.csv"
df = pd.read_csv(url)
df.head()

,Latitude,Longitude,Type,Depth,Magnitude,Magnitude Type,Root Mean Square,Source,Status,Year,...,Source_ISCGEM,Source_ISCGEMSUP,Source_NC,Source_NN,Source_OFFICIAL,Source_PR,Source_SE,Source_US,Source_UW,Status_Reviewed
0,0.583377,0.844368,Earthquake,0.495984,0.277668,MW,-0.103839,ISCGEM,Automatic,-1.915523,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.006109,0.698849,Earthquake,0.075272,-0.195082,MW,-0.103839,ISCGEM,Automatic,-1.915523,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.739162,-1.701962,Earthquake,-0.413928,0.750418,MW,-0.103839,ISCGEM,Automatic,-1.915523,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-2.017599,-0.503524,Earthquake,-0.454694,-0.195082,MW,-0.103839,ISCGEM,Automatic,-1.915523,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.340688,0.691479,Earthquake,-0.454694,-0.195082,MW,-0.103839,ISCGEM,Automatic,-1.915523,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# basic info
print(df.shape)
print(df.columns)
df.describe()

(23409, 40)
Index(['Latitude', 'Longitude', 'Type', 'Depth', 'Magnitude', 'Magnitude Type',
       'Root Mean Square', 'Source', 'Status', 'Year', 'Day', 'Month_sin',
       'Month_cos', 'Hour_sin', 'Hour_cos', 'Type_Explosion',
       'Type_Nuclear Explosion', 'Type_Rock Burst', 'Magnitude Type_MD',
       'Magnitude Type_MH', 'Magnitude Type_ML', 'Magnitude Type_MS',
       'Magnitude Type_MW', 'Magnitude Type_MWB', 'Magnitude Type_MWC',
       'Magnitude Type_MWR', 'Magnitude Type_MWW', 'Source_ATLAS', 'Source_CI',
       'Source_GCMT', 'Source_ISCGEM', 'Source_ISCGEMSUP', 'Source_NC',
       'Source_NN', 'Source_OFFICIAL', 'Source_PR', 'Source_SE', 'Source_US',
       'Source_UW', 'Status_Reviewed'],
      dtype='object')

,Latitude,Longitude,Depth,Magnitude,Root Mean Square,Year,Day,Month_sin,Month_cos,Hour_sin,...,Source_ISCGEM,Source_ISCGEMSUP,Source_NC,Source_NN,Source_OFFICIAL,Source_PR,Source_SE,Source_US,Source_UW,Status_Reviewed
count,23409.000000,23409.000000,23409.000000,23409.000000,23409.000000,2.340900e+04,2.340900e+04,2.340900e+04,2.340900e+04,2.340900e+04,...,23409.000000,23409.000000,23409.000000,23409.000000,23409.000000,23409.000000,23409.000000,23409.000000,23409.000000,23409.000000
mean,-0.000009,-0.000026,-0.000158,0.000065,-0.000081,-7.770470e-17,1.123076e-16,-4.249476e-17,-7.284816e-18,4.006649e-17,...,0.105088,0.005126,0.002179,0.000171,0.000342,0.000043,0.000043,0.881157,0.000256,0.887266
std,1.000028,1.000045,0.999645,1.000066,1.000019,1.000021e+00,1.000021e+00,1.000021e+00,1.000021e+00,1.000021e+00,...,0.306673,0.071415,0.046626,0.013071,0.018484,0.006536,0.006536,0.323611,0.016008,0.316275
min,-2.615490,-1.749966,-0.585963,-0.904207,-6.253083,-1.915523e+00,-1.693162e+00,-1.404007e+00,-1.429558e+00,-1.419204e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.675168,-0.924170,-0.458526,-0.667832,-0.472794,-8.063892e-01,-8.858377e-01,-1.215716e+00,-7.179538e-01,-1.006043e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,-0.174281,0.512640,-0.307934,-0.431457,-0.103839,2.546118e-02,3.681814e-02,1.410416e-03,-6.349982e-03,-8.584383e-03,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,0.813912,0.839675,-0.136714,0.277668,0.511085,8.573116e-01,8.441420e-01,1.218537e+00,1.226184e+00,9.888741e-01,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,2.800360,1.118308,5.130337,7.605293,14.900316,1.619841e+00,1.766798e+00,1.406827e+00,1.416858e+00,1.402035e+00,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
# target is magnitude
y = df['Magnitude']
X = df.drop(columns=['Magnitude'])

# keep only numeric columns
X = X.select_dtypes(include=['int64','float64'])
X.head()

,Latitude,Longitude,Depth,Root Mean Square,Year,Day,Month_sin,Month_cos,Hour_sin,Hour_cos,...,Source_ISCGEM,Source_ISCGEMSUP,Source_NC,Source_NN,Source_OFFICIAL,Source_PR,Source_SE,Source_US,Source_UW,Status_Reviewed
0,0.583377,0.844368,0.495984,-0.103839,-1.915523,-1.577830,0.704119,1.226184,-0.373680,-1.362923,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.006109,0.698849,0.075272,-0.103839,-1.915523,-1.347166,0.704119,1.226184,0.356511,-1.362923,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.739162,-1.701962,-0.413928,-0.103839,-1.915523,-1.231834,0.704119,1.226184,-1.419204,0.006682,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-2.017599,-0.503524,-0.454694,-0.103839,-1.915523,-0.885838,0.704119,1.226184,-1.419204,0.006682,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.340688,0.691479,-0.454694,-0.103839,-1.915523,-0.770506,0.704119,1.226184,-0.373680,-1.362923,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape)

(18727, 35) (4682, 35)

In [19]:
# training models
model_default = LinearRegression().fit(X_train, y_train)
model_custom = LinearRegression(fit_intercept=False).fit(X_train, y_train)

In [20]:
# predictions and evaluation
y_pred_default = model_default.predict(X_test)
y_pred_custom = model_custom.predict(X_test)

def eval_model(y_test, y_pred):
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mse, rmse, mae, r2

default_scores = eval_model(y_test, y_pred_default)
custom_scores = eval_model(y_test, y_pred_custom)

results = pd.DataFrame({
    'Model': ['Default','Custom'],
    'MSE':[default_scores[0], custom_scores[0]],
    'RMSE':[default_scores[1], custom_scores[1]],
    'MAE':[default_scores[2], custom_scores[2]],
    'R2':[default_scores[3], custom_scores[3]]
})
results

     Model       MSE      RMSE       MAE        R2
0  Default  0.943848  0.971518  0.706962  0.091453
1   Custom  0.943849  0.971519  0.706957  0.091452

In [ ]:
# summary
print("Summary:")
if default_scores[3] > custom_scores[3]:
    print("Default model has better R2 score.")
else:
    print("Custom model has better R2 score.")
print("Check table above for detailed metrics.")

Summary:
Default model has better R2 score.
Check table above for detailed metrics.